.App-Header-Row {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    padding: 10px;
}

.App-Header-Row div {
    padding: 10px;
}

.App-Header-Row li {
    display: inline-block;
    padding: 5px;
}